<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

      <!-- START CSS stylings -->
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="css/mdb.min.css" rel="stylesheet">
      <!-- Your custom styles (optional) -->
      <link href="css/style.min.css" rel="stylesheet">
      <!-- END CSS stylings -->

    </head>
    <body>

      <!--Main Navigation-->

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand waves-effect" href="./">
            <strong class="font-weight-bold dark-grey-text">Blog</strong>
          </a>

          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
            </ul>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item mr-2">
                <a href="/createpost" class="nav-link border border-light rounded waves-effect"
                  target="_blank">
                  Create Post
                </a>
              </li>
              <li class="nav-item mr-2">
                <a href="/users/signup" class="nav-link border border-light rounded waves-effect"
                  target="_blank">
                  Sign-In
                </a>
              </li>
              <li class="nav-item">
                <a href="/users/login" class="nav-link border border-light rounded waves-effect"
                  target="_blank">
                  Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->

      <!--Main Navigation-->