 <!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

  <!--Call to action-->
  <div class="pt-4 pb-4">
    <a class="btn btn-outline-white" href="https://github.com/loganblackstad/Group-Back-End-Project"
      target="_blank"
      role="button"><i class="fab fa-github mr-3"></i>Find this Project on Github
    </a>
  </div>
  <!--/.Call to action-->

  <!--Github Reference-->
  <div class="footer-copyright py-3">
    Creates with ❤ by:
    <a href="https://linkedin.com/in/loganblackstad" target="_blank"> Logan Blackstad </a>,
    <a href="https://linkedin.com/in/kelseycortez" target="_blank"> Kelsey Cortez </a>,
    <a href="https://linkedin.com/in/pbaker92" target="_blank"> Princeton Baker </a>
  </div>
  <!--/.Github Reference-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>