

<!-- START:  FOOTER -->
<footer class="footer page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

  <div class="font-weight-bold pt-3 mb-1">Digital Crafts Atlanta</div>
    <div>3423 Piedmont Rd NE #420, Atlanta, GA 30305</div><br/>

      <div> Creates with ❤ by:
        <a href="https://linkedin.com/in/loganblackstad" target="_blank"> Logan Blackstad </a>,
        <a href="https://linkedin.com/in/kelseycortez" target="_blank"> Kelsey Cortez </a>,
        <a href="https://linkedin.com/in/pbaker92" target="_blank"> Princeton Baker </a>
        <div class="pt-4 pb-3">
          <a class="btn btn-outline-white" href="https://github.com/loganblackstad/group-back-end-project"
            target="_blank"
            role="button"><i class="fab fa-github mr-3"></i>Find This Project on Github
          </a>
        </div>
      </div>
    </footer>
    <!-- END:  FOOTER -->


    <!-- START:  SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
    // Animations initialization
    new WOW().init();
    
    </script>
    <!-- END:  SCRIPTS -->

  </body>
</html>