

<footer>

<div>Digital Crafts Address<br>123 Blah St Atlanta, GA 30303, USA</div>

<div> Creates with ❤ by:
  <a href="https://linkedin.com/in/loganblackstad" target="_blank"> Logan Blackstad </a>,
  <a href="https://linkedin.com/in/kelseycortez" target="_blank"> Kelsey Cortez </a>,
  <a href="https://linkedin.com/in/pbaker92" target="_blank"> Princeton Baker </a>
  <div>
    <a class="btn" href="https://github.com/loganblackstad/group-back-end-project"
          target="_blank"
          role="button"><i class="fab fa-github mr-3"></i>Find This Project on Github
        </a>
  </div>
</div>


</footer>


  </body>
</html>