<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <!-- Make sure the path to CKEditor is correct. -->
  </head>
  <body>

    <!-- SECTION START - 404 Page Error -->
    <p><b>404:</b> This site cannot reset your password at this time. We need some more time to build on this feature.
      You can
      always create a new account though... </p>
    <!-- SECTION END - 404 Page Error -->

  </body>
</html>
