
<%- include('partials/page-start.ejs') %>



  <!-- SECTION START - Login Box -->
  <div class="login-form index-login-form d-flex justify-content-center align-content-center col-lg-3">
    <form action="/users/login" method="">
      <h2 class="text-center">Welcome to Blog & Comment.</h2>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"><a href="/users/signup" class="index-link">Sign Up >></a></button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"><a href="/users/login" class="index-link">Log in</a></button>
      </div>
    </form>
  </div>
  <!-- SECTION END - Login Box -->


  <%- include('partials/page-end.ejs') %>
