<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
      <!-- <link href="https://static.paddle.com/assets/css/icons/icons.css" rel="stylesheet">
      <link href="https://static.paddle.com/assets/css/vendor/landing.css" rel="stylesheet"> -->
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="css/mdb.min.css" rel="stylesheet">
      <!-- Your custom styles (optional) -->
      <link href="css/style.min.css" rel="stylesheet">
    </head>
    <body>

      <%- include('partials/page-nav.ejs') %>



        <!-- SECTION START - Placeholder Login hrefs -->
        <!-- <p><a href="/users/signup">User Registration</a></p>
    <p><a href="/users/login">User Login</a></p> -->
        <!-- SECTION START - Placeholder Login hrefs  -->

        <!-- SECTION START - Login Box -->
        <div class="wrapper">
          <section class="container">
            <header class="landing-header">
              <div class="landing-header__left">
                <img class="logo" src="/assets/blog-icon.jpg" />
              </div>
              <div class="landing-header__right">
                <div class="pills">
                  <a class="pui-pill" href="/users/signup">Signup</a>
                  <span class="pui-pill selected">Login</span>
                </div>
              </header>
              <form class="pui-form" method="post" action="/users/login">
                <div class="pui-form__element">
                  <input class="pui-form__input pui-form__input--large" placeholder="Username (or
                    Email)" type="email"
                    name="email"
                    required />
                </div>
                <div class="pui-form__element">
                  <input class="pui-form__input pui-form__input--large" placeholder="Password"
                    type="password"
                    name="password"
                    required />
                </div>
                <div class="pui-form__element">
                  <button class="pui-btn-primary pui-btn-primary--big is-block success" type="submit">Login
                    &raquo;</button>
                </div>
                <p class="pui-form__description password-reset" style="margin-top: 16px;">Forgot your
                  password?
                  <a
                    href="/cannot-reset-password">Reset it</a>.</p>
              </form>
            </section>
            <script type="text/javascript" id="hs-script-loader" async defer
              src="//js.hs-scripts.com/4105085.js"></script>
          </div>
          <!-- SECTION END - Login Box -->


          <%- include('partials/page-end.ejs') %>

            <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"2cc7798054","applicationID":"213756564","transactionName":"NVEDMBMCWxBRVEYNCwwbIAcVCloNH0FXCgANRj4IDgRcDW9HUwMB","queueTime":0,"applicationTime":34,"atts":"GRYARlsYSB4=","errorBeacon":"bam.nr-data.net","agent":""}</script>
          </body>
        </html>