
<%- include('partials/page-start.ejs') %>


  <div class="container b4-container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div class="justify-content-center align-content-center"></div>
        <% comments.forEach(comment=> {%>

          <div>
            <p><b>Author</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.dataValues.author %></p>
              <p><b>Comment</b></p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.dataValues.remark %></p>
                <hr>
              </div>
              <% })%>
              </div>
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>


        <%- include('partials/page-end.ejs') %>