
<%- include('partials/page-start.ejs') %>

  <% comments.forEach(comment=> {%>

    <div>
      <h2><%= comment.dataValues.author %></h2>
        <p><%= comment.dataValues.remark %></p>
        </div>
        <% })%>

          <p><a href="/">Home</a></p>

          <%- include('partials/page-end.ejs') %>