<!DOCTYPE html>
<html>

<head>

<title>Create a Blog Account</title>
<link href="https://static.paddle.com/assets/css/vendor/landing.css" rel="stylesheet">
<link href="https://static.paddle.com/assets/css/icons/icons.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <section class="container">
            <header class="landing-header">
                <div class="landing-header__left">
                    <img class="logo" src="../public/assets/blog-icon.jpg" />
                </div>
                <div class="landing-header__right">
                    <div class="pills">
                        <span class="pui-pill selected">Signup</span>
                        <a class="pui-pill" href="https://group-back-end-project.herokuapp.com/">Login</a>
                    </div>
            </header>

            <form class="pui-form" method="post" action="/signup">
                <!-- needs a route -->
                <input type="hidden" name="_token" />
                <div class="pui-form__element pui-form__element--inline">
                    <div><input class="pui-form__input pui-form__input--large" placeholder="First Name" type="text"
                            name="firstname" pattern="[^0-9±§!@£#$%\^&*~<>?;:|\/\[\]{}+=,]+" value="" required /></div>
                    <div><input class="pui-form__input pui-form__input--large" placeholder="Last Name" type="text"
                            name="lastname" pattern="[^0-9±§!@£#$%\^&*~<>?;:|\/\[\]{}+=,]+" value="" required /></div>
                </div>
                <div class="pui-form__element">
                    <input class="pui-form__input pui-form__input--large" placeholder="Email Address" type="email"
                        name="email" value="" required />
                </div>
                <div class="pui-form__element">
                    <input class="pui-form__input pui-form__input--large pui-form__input--with-tooltip"
                        placeholder="Password" type="password" name="password" required />
                    <div class="pui-tooltip pui-tooltip--top">Passwords must contain 8 characters or more. Good
                        passwords are hard to guess and use uncommon words, numbers, symbols and uppercase letters.
                    </div>
                </div>
                <hr class="pui-separator" />
                <div class="pui-form__element">
                    <div id="consent-fields" class="left-align">
                        <div class="checkbox-wrapper">
                            <label class="checkbox">
                                <input name="newsletter" type="checkbox" value="1">
                                <span class="checkbox-toggle"></span>
                                <p for="newsletter" style="font-size: 12px; line-height: 18px;">I would like to receive
                                    the Blog monthly newsletter with the best content, platform updates and guides. You
                                    can opt-out at any time.</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="pui-form__element">
                    <button type="submit" class="pui-btn-primary pui-btn-primary--big is-block">Create your account
                        &raquo;</button>
                </div>
                <div class="pui-form__element">
                    <p class="pui-form__description">By creating an account, you agree to our <a class="consent-link"
                            href="/disclaimer" target="_blank">terms & conditions</a>.</p>
                </div>
            </form>
        </section>
        <script src="https://cdn.paddle.com/external/jquery-1.11.1.min.js"></script>
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
        <script>window.PaddleVars = window.PaddleVars || {}; PaddleVars.passwordMinLength = 8;</script>
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4105085.js"></script>

<div class="wrapper">
<section class="container">
<header class="landing-header">
<div class="landing-header__left">
<img class="logo" src="/assets/blog-icon.jpg" />
</div>
<div class="landing-header__right">
<div class="pills">
<span class="pui-pill selected">Signup</span>
<a class="pui-pill" href="https://group-back-end-project.herokuapp.com/">Login</a>
</div>
</header>

<form class="pui-form" method="post" action="/users/signup"> <!-- needs a route -->
<input type="hidden" name="_token" />
<div class="pui-form__element pui-form__element--inline">
<div><input class="pui-form__input pui-form__input--large" placeholder="First Name" type="text" name="firstname" pattern="[^0-9±§!@£#$%\^&*~<>?;:|\/\[\]{}+=,]+" value="" required /></div>
<div><input class="pui-form__input pui-form__input--large" placeholder="Last Name" type="text" name="lastname" pattern="[^0-9±§!@£#$%\^&*~<>?;:|\/\[\]{}+=,]+" value="" required /></div>
</div>
<div class="pui-form__element">
<input class="pui-form__input pui-form__input--large" placeholder="Email Address" type="email" name="email" value="" required />
</div>
<div class="pui-form__element">
<input class="pui-form__input pui-form__input--large" placeholder="Username" type="username" name="username" value="" required />
</div>
<div class="pui-form__element">
<input class="pui-form__input pui-form__input--large pui-form__input--with-tooltip" placeholder="Password" type="password" name="password" required />
<div class="pui-tooltip pui-tooltip--top">Passwords must contain 8 characters or more. Good passwords are hard to guess and use uncommon words, numbers, symbols and uppercase letters.</div>
</div>
<hr class="pui-separator" />
<div class="pui-form__element">
<div id="consent-fields" class="left-align">
<div class="checkbox-wrapper">
<label class="checkbox">
<input name="newsletter" type="checkbox" value="1">
<span class="checkbox-toggle"></span>
<p for="newsletter" style="font-size: 12px; line-height: 18px;">I would like to receive the Blog monthly newsletter with the best content, platform updates and guides. You can opt-out at any time.</p>
</label>
</div>
</div>
</div>
<div class="pui-form__element">
<button type="submit" class="pui-btn-primary pui-btn-primary--big is-block">Create your account &raquo;</button>
</div>
<div class="pui-form__element">
<p class="pui-form__description">By creating an account, you agree to our <a class="consent-link" href="/disclaimer" target="_blank">terms & conditions</a>.</p>
</div>
</form>
</section>
<script src="https://cdn.paddle.com/external/jquery-1.11.1.min.js"></script>
</script> <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
<script>window.PaddleVars = window.PaddleVars || {};PaddleVars.passwordMinLength = 8;</script> 
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4105085.js"></script>

    </div>
</body>

</html>