.login-form {
  margin-top: 300px;
  width: 500px;
}

.ckeditor-section {
  width: 500px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
